<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","theme":"wens-trails","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">
    <!-- wp:pattern {"slug":"wens-trails/main-banner"} /-->
    <!-- wp:pattern {"slug":"wens-trails/popular-destination"} /-->
    <!-- wp:pattern {"slug":"wens-trails/about"} /-->
    <!-- wp:pattern {"slug":"wens-trails/popular-tours"} /-->
    <!-- wp:pattern {"slug":"wens-trails/counter"} /-->
    <!-- wp:pattern {"slug":"wens-trails/testimonial"} /-->

<!-- wp:group {"metadata":{"name":"articles"},"align":"full","style":{"spacing":{"padding":{"top":"120px","bottom":"120px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" id="articles" style="padding-top:120px;padding-bottom:120px"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","level":4,"className":"heading","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-color-2"}}}},"textColor":"custom-color-2"} -->
<h4 class="wp-block-heading has-text-align-center heading has-custom-color-2-color has-text-color has-link-color">ARTICLES</h4>
<!-- /wp:heading --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:heading {"textAlign":"center","align":"wide"} -->
<h2 class="wp-block-heading alignwide has-text-align-center"><strong>Your Go-To Source for Travel </strong><br><strong>Trends &amp; Tips</strong></h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:query {"queryId":0,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]},"align":"wide"} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"className":"wensa-prova-image-ani","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}},"border":{"radius":"10px"}},"backgroundColor":"custom-color-4","layout":{"type":"constrained"}} -->
<div class="wp-block-group wensa-prova-image-ani has-custom-color-4-background-color has-background" style="border-radius:10px;margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"style":{"spacing":{"blockGap":"0"},"border":{"radius":{"bottomLeft":"10px","bottomRight":"10px"}}},"backgroundColor":"custom-color-3","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-custom-color-3-background-color has-background" style="border-bottom-left-radius:10px;border-bottom-right-radius:10px"><!-- wp:post-featured-image {"aspectRatio":"1","className":"img-hover-zoom","style":{"border":{"radius":{"topLeft":"10px","topRight":"10px"}}}} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"16px","bottom":"24px","left":"24px","right":"24px"},"blockGap":"16px"},"border":{"radius":{"bottomLeft":"10px","bottomRight":"10px"}},"shadow":"var:preset|shadow|natural"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding-top:16px;padding-right:24px;padding-bottom:24px;padding-left:24px;box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:group {"style":{"spacing":{"blockGap":"16px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":3,"isLink":true} /-->

<!-- wp:post-excerpt {"excerptLength":22} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"6px","bottom":"6px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:6px;padding-bottom:6px"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"className":"post-link"} -->
<p class="post-link"><a href="#">Read More</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wens-trails","area":"footer"} /--></div>
<!-- /wp:group -->